.sidebar-title {
  font-size: 36px !important;
}
.sidebar {
  padding: 10px 50px 10px 20px;
  border-right: 1px solid #d5d5d5;
  position: fixed;
  height: 100%;
  width: 225px;
}
.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}
.sidebar-content ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 12px 5px;
  display: block;
}
.end-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 5px;
  position: absolute;
  bottom: 0;
}
.sidebar-content ul li i {
  margin-right: 4px;
}
.profile-image {
  width: 30px;
  margin-right: 10px;
  vertical-align: initial;
  border-radius: 40px;
  height: 30px;
  object-fit: cover;
}
.profile-name p {
  margin: 0;
  font-weight: 500;
}
.profile-name span {
  color: #989898;
  font-size: 14px;
}
.profile-name {
  line-height: 16px;
}
.switch-acc {
  display: inline-block;
  float: right;
}
.my-profile div {
  display: inline-block;
}
.my-profile {
  margin: 15px 0px;
}
.switch-acc a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.other-info {
  width: 285px;
  margin-top: 20px;
}
.suggestions a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.suggestions p,
.copyrights {
  color: #989898;
  margin: 0;
  font-weight: 700;
}
.copyrights {
  display: block;
  font-size: 12px;
}
.suggestions {
  margin-top: 30px;
  align-items: center;
}
.other-links {
  width: 285px;
}
.other-links ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.other-links ul li {
  float: left;
  padding: 0px 7px 0px 0px;
}
.other-links ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #989898;
}
.other-links ul li a::after {
  content: "\00B7";
}
.img-details {
  margin-bottom: 10px;
}
.user_status img,
.status-slider img {
  max-width: 100%;
  border-radius: 50%;
  width: 85px !important;
  margin: 0px auto;
  display: block;
  border: double 6px #fff;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ffc000, #e00b50);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 85px;
  object-fit: cover;
}
.feed-section {
  margin: 20px auto;
  display: block;
  width: 50%;
}
.progress {
  width: 100%;
}
.react-multi-carousel-item {
  max-width: 100% !important;
}
.react-multiple-carousel__arrow::before {
  color: #000 !important;
  font-size: 12px !important;
}
.react-multiple-carousel__arrow {
  background-color: #fff !important;
  min-height: 20px !important;
  min-width: 20px !important;
}
.image-frame {
  margin: 10px 0px 30px 0px;
}
.image-frame p {
  margin: 0;
}
.image-frame img {
  width: 100%;
}
.actions {
  margin: 10px 0px;
}
.actions i {
  font-size: 20px;
  padding-right: 10px;
}
.comment-field {
  border-bottom: 1px solid #d0d0d0;
}
.comment-field .form-control {
  border: none;
  border-radius: 0 !important;
  padding: 10px 4px;
  width: 90%;
}
.comment-field label {
  padding: 20px 0px;
  color: #919191;
}
.comment-field .form-control:focus {
  box-shadow: none;
}
.actions i:last-child {
  padding-right: 0px !important;
}
.avatar {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
  border-radius: 30px;
  object-fit: cover;
}
.add-link {
  position: absolute;
  top: 20px;
  right: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #4590ff !important;
}
.react-multi-carousel-list {
  width: 88%;
  margin: 20px auto;
}
.like-button {
  color: #000;
  padding-right: 8px;
  margin-right: 10px;
}
.like-button:hover {
  color: #000 !important;
}
.liked i {
  color: #ff3041;
}
.like-details {
  margin-bottom: 10px !important;
}
.comments p {
  margin: 1px 0px;
}
.caption {
  padding-bottom: 10px;
}
.profile-pic img {
  width: 30px;
}
.profile-display-picture {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 40px;
}
.profile-upload-img {
  width: 30px;
  margin-right: 10px;
  border-radius: 40px;
  height: 30px;
  object-fit: cover;
}
.reply a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #727272;
}
.reply-link {
  position: absolute;
  top: 25px;
  right: 0;
}
#dropdown-basic {
  background-color: transparent !important;
  color: #000;
  border: transparent;
  position: relative;
  top: -4px;
  font-weight: bold;
}
#dropdown-basic::after {
  display: none;
}
.comment-actions {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sidebar,
  .other-info,
  .other-links,
  .copyrights {
    display: none;
  }
}
